synth/pll_vga_sim.f
synth/pll_vga.bsf
synth/pll_vga.cmp
synth/pll_vga.ppf
synth/pll_vga.qip
synth/pll_vga.sip
synth/pll_vga.spd
synth/pll_vga.v
synth/project.qpf
synth/project.qsf
synth/.qsys_edit/filters.xml
synth/.qsys_edit/preferences.xml
synth/db/project.db_info
synth/db/project.quiproj.14720.rdr.flock
synth/pll_vga/pll_vga_0002.qip
synth/pll_vga/pll_vga_0002.v
synth/pll_vga_sim/pll_vga.vo
synth/pll_vga_sim/aldec/rivierapro_setup.tcl
synth/pll_vga_sim/mentor/msim_setup.tcl
synth/db/project.cmp.rdb
synth/db/project.map_bb.hdb
synth/db/project.map.qmsg
synth/db/project.map.rdb
synth/db/project.sld_design_entry.sci
synth/db/project.smart_action.txt
synth/db/project.tis_db_list.ddb
synth/output_files/project.flow.rpt
synth/output_files/project.map.rpt
synth/output_files/project.map.summary
